SCOPF/**/*.gdx
SCOPF/**/*.lst
SCOPF/**/*.pf
SCOPF/**/*.dat
SCOPF/**/*.log*
SCOPF/**/*.lxi
SCOPF/**/*.cmd
SCOPF/results.csv
**/curves/*
*.log
**/__pycache__/*
*.pdf
*.svg
distrib_networks/dynawo_files/*.*
distrib_networks/dynawo_files/Deterministic/**
distrib_networks/dynawo_files/Random/**
distrib_networks/dynawo_files/Equivalent/Optimisation*/**
*.npy
Other files/*